@model IEnumerable<OdeToFood.Data.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ode To Food</h1>
    <h2>The List of Restaurants:</h2>
    <ul>
        @foreach (var restaurant in Model)
        {
            <li>@restaurant.Name</li>
        }
    </ul>
</div>

